html {
	height: 100%;
}
body {
	height: 100%;
}
h1 {
	text-align: center;
}
.top {
	/*background-color: #82C649;*/
	display:inline-block;
	width: 100%;
	padding-bottom: 20px;
}
.bottom {
	/*background-color: #9DEA5E;*/
	padding-top: 20px;
	width: 100%;
}
.card {
	position: relative;
	padding-top: 5px;
	padding-bottom: 15px;
	margin-left: 2px;
	margin-right: 2px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #eee;
}

.result-card {
	margin-bottom: 20px;
}

#separator {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 3px solid lightgrey;
	border-radius: 5px;
}

#button-section {
	position: fixed;
	left: 50%;
	bottom: 0%;
	transform: translate(-50%, -50%);
}

button.close {
	float: none;
	position: absolute;
	right: 5px;
	z-index: 1;
}
